/* ----- Page Wrapper----- */
/*Override Grid Bootstrap*/
@media (min-width: 1200px) {
    .container {
        max-width: 1820px;
    }
}

.login-content{
    padding: 15px 15px 15px 15px;
    margin: 0px 0px 0px 0px;
}


.informativa_contenitore{
    font-size: 0.9em;
}
.informativa_contenitore span{
    text-decoration: underline;
    cursor: pointer;
}
